@page "/"
@rendermode InteractiveServer
@inject IPotionService _Service
@inject NavigationManager _NavigatorManager

<PageTitle>Home</PageTitle>
<h1>Welcome to PotionShop</h1>
<p>Here you can find all the potions you need.</p>

<h3>Potion List</h3>
@if (_potions == null)
{
    <span class="spinner-border text-danger" role="status">
        <span class="sr-only"></span>
    </span>
}
else if (_potions.Count == 0)
{
    <p>No potions available.</p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Power Level</th>
                <th>Stock</th>
                <th>Warehouse Location</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var potion in _potions)
            {
                <tr>
                    <td>@potion.Recipe?.Result</td> 
                    <td>@potion.Type</td>
                    <td>@potion.PowerLevel</td>
                    <td>@potion.Stock</td>
                    <td>@potion.WarehouseLocation</td>
                    <td>
                        <button class="btn btn-sm btn-danger" @onclick="()=>DeletePotion(potion.Id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg>
                        </button>

                        <button class="btn btn-sm btn-primary" @onclick="()=>EditPotion(potion.Id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                            </svg>
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
<a class="btn btn-success" href="potion/new">Add potion</a>

@code
{
    private IList<Potion>? _potions;

    protected override async Task OnInitializedAsync()
    {
        _potions = await _Service.GetAll();
    }

    private async void DeletePotion(int id)
    {
        await _Service.Delete(id);
        _potions = await _Service.GetAll();
        StateHasChanged();
    }

    private void EditPotion(int id)
    {
        _NavigatorManager.NavigateTo($"potion/edit/{id}");
    }





}
